.logo {
  height: 32px;
  background: #fff;
}

.site-layout .site-layout-background {
  background: #fff;
}

.head-light {
  padding: 10px 10px 10px 12px;
  font-weight: bold;
  font-size: 18px;
}
.head-dark {
  padding: 10px 10px 10px 12px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.ant-switch {
  margin-left: 10px;
}