body {
  background-color: #f0f0f0 !important;
}
.login-div {
  margin: 150px auto;
  width: 450px;
}
.card-item {
  margin-bottom: 1rem;
}
.card-button {
  display: flex;
  justify-content: space-between;
}
.card-button button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 6px;
}