body {
  background-color: #f0f0f0 !important;
  background: url("https://www.sugarat.top/assets/img/bg.2cfdbb33.svg") center center / cover no-repeat;
}
.login-div {
  margin: 150px auto;
  width: 450px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(131, 127, 127, 0.12);
}
.card-item {
  margin-bottom: 1rem;
}
.card-button {
  display: flex;
  justify-content: center;
}
.card-button button {
  width: 10rem;
  height: 2.5rem;
  border-radius: 6px;
}