
.img-info {
  width: 100px;
  float: left;
  margin-left: 1.4rem;
}
.img-info:first-child {
  margin-left: 4rem;
}
.img-info button {
  margin-left: 1.2rem;
}
.img-info img {
  /* margin-left: 1.2rem; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}
.commit-btn {
  float: right;
}
.center-box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  max-height: 460px;
}
.info-header {
  text-align: center;
  padding-bottom: 1rem;
  /* border-bottom: 1px dashed #dedede; */
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08); */
}
.header-logo {
  color: #158bb8;
  font-size: 1.6rem;
  text-align: left;
}
.header-txt {
  font-size: 0.6rem;
  color: #999;
  display: inline-block;
  padding-left: 0.5rem;
}
.comm-box {
  background-color: #fff;
  /* margin-left: .5rem; */
  padding: .3rem;
  border-radius: .3rem;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
}
.author-div {
  text-align: center;
  padding: 1rem;
}

.author-div dev {
  margin-bottom: 1rem;
}

.author-intr {
  font-size: 0.8rem;
  color: #999;
  margin-top: 0.5rem;
  padding: 1rem 0;
}

.github {
  color: #999;
}
.github:hover {
  color: black;
}
.wechat:hover {
  color: #57EE7D;
}
.qq:hover {
  color: #E31010;
}

.account {
  font-size: 1.75rem;
  margin-left: .8rem;
  margin-right: .8rem;
  cursor:pointer;
}
.ant-popover-inner-content {
  padding: .1rem;
}
.notice-nav {
  margin-top: .5rem;
  padding: .6rem 3rem;
}
.notice-nav span {
  margin-right: .2rem;
}
.notice-logo {
  text-align: center;
  margin-bottom: .5rem;
}