.ant-table-thead > tr > th {
  font-weight: 600;
  text-align: center;
}
.ant-table-tbody > tr > td {
  text-align: center;
}
.from-name {
  color: #1abc9c;
  margin-right: 1rem;
}
.delete-btn {
  width: 40px;
  font-size: .5rem;
  margin-left: .5rem;
}