.icon-span {
  display: inline-block;
  /* padding-left: .2rem; */
  padding-right: .5rem;
}
.icon-span svg {
  position: relative;
  top: .2rem;
  width: 1.2rem;
  height: 1.2rem;
}
.add-btn {
  float: right;
  position: relative;
  top: -10px;
  /* margin-bottom: 4px; */
}
.type-input div {
  margin-bottom: 1rem;
}
.type-input input {
  width: 60%;
}
.type-input textarea {
  width: 100%;
  height: 100px;
  margin-top: 1rem;
}
.icon-add svg {
  position: relative;
  top: .2rem;
  width: 2rem;
  height: 2rem;
}